.iconos{

    background-color:#1da1f2; 
    padding: 0;
     margin-bottom:6vh; 
}
.hola{
    margin-top: 10vh;
    height: 65vh; 
   
}
.text_log{
    margin-top: 10vh;
    margin-left: 2vh;

}
.text2_log{
    margin-top: 20vh;
    margin-left: 25vh;
    font-size: 20px;
    font-weight:bolder; 
}


.text{

    font-size: 20px;
    font-weight:bolder;
    color: white;

}